@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;400;800&family=Edu+SA+Beginner:wght@400;500;600;700&family=Great+Vibes&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300&family=Quicksand:wght@300;400;500;600;700&family=Ubuntu:wght@500&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  height: 90%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  width: 43vh;
  height: 80vh;
  border-radius: 1.5rem;
  background: rgba(230, 246, 255, 0.2);
  box-shadow: 0px -5px 70px rgba(0, 0, 0, 0.1);
}
.calculator--screen-part {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.screen--modes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.screen--modes__light-dark,
.screen---modes__history-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.screen--modes__light-dark {
  position: relative;
  margin-left: 7rem;
  width: 25%;
  border-radius: 1rem;
  background-color: rgba(169, 220, 253, 1);
}
.screen--modes__light-dark.active .transition-ball {
  transform: translateX(36px) !important;
}
.transition-ball {
  position: absolute;
  top: 0;
  left: -3%;
  width: 45px;
  height: 31px;
  border-radius: 15px;
  opacity: 0.6;
  background: #d8eeff;
  transition: 0.5s;
}
.screen--modes__light-dark span,
.screen--modes span {
  color: rgb(31, 31, 31);
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.screen---modes__history-icon {
  margin-right: 1.5rem;
}
.screen--operations {
  width: 100%;
}
.screen--operations__history {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.screen--operations__history #history-text {
  text-align: right;
  margin-right: 1rem;
  width: 100%;
  font-size: 0.8rem;
  color: gray;
  background-color: transparent;
  border: none;
  outline: none;
}
.screen--operations__action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.screen--operations__action .equal-icon {
  font-size: 1.1rem;
  font-weight: 900;
  margin: 0.5rem 0.5rem 0.5rem 1.5rem;
  padding: 0.5rem 0.5rem !important;
}
.screen--operations__action input {
  text-align: right;
  outline: none;
  border: none;
  background-color: transparent;
  padding-right: 1rem;
  width: 80%;
  font-size: 1.5rem;
  font-weight: 600;
  height: 50px;
}
.calculator--buttons-part {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(169, 220, 253, 1);
  filter: drop-shadow(0px -5px 70px rgba(0, 0, 0, 0.1));
  border-radius: 1.5rem;
}
.calculator--buttons-part .item {
  width: 50px;
  height: 50px;
  background: #d8eeff;
  border-radius: 25px;
  border: none;
  font-size: 1.1rem;
  font-weight: 900;
  margin: 0.3rem;
}
.button-part--group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0.5rem 0.5rem 3rem 0.5rem;
}
.button-part--group__function-keys {
  width: auto;
  background-color: #d8eeff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 25px;
}
.button-part--group__function-keys .item {
  margin-top: 0;
  margin-bottom: 0;
}
.button-part--group__function-keys .item:nth-child(1) {
  margin-left: 0;
}
.button-part--group__function-keys .item:nth-child(3) {
  margin-right: 0;
}
.button-part--group__numbers {
  margin-left: 0.5rem;
}
.button-part--group__numbers .item {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
}
.button-part--basic-operations {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #d8eeff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  margin: 1.5rem 1.5rem 3rem 0.5rem;
  padding-top: 0;
}
.button-part--basic-operations .item:nth-child(1) {
  margin-top: 0;
}
.button-part--basic-operations .item:nth-child(5) {
  margin-bottom: 0;
}
.button-part--basic-operations #equal {
  background-color: white;
}
.bottom-line {
  position: absolute;
  bottom: 5%;
  left: 30%;
  width: 20vh;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(99, 150, 197, 1);
}
.calculator.dark .screen--modes span {
  color: whitesmoke;
}
.calculator.dark .transition-ball {
  background-color: rgba(0, 54, 97, 1);
}
.calculator.dark .bottom-line {
  background: #5f91c1;
}
.calculator.dark .calculator--buttons-part {
  background-color: rgba(27, 106, 156, 1);
  box-shadow: 0px -5px 70px rgba(0, 0, 0, 0.1);
}
.calculator.dark {
  background-color: rgb(55, 55, 55, 1);
  color: white;
}
.calculator.dark .screen--modes__light-dark {
  background-color: rgba(27, 106, 156, 1);
}
.calculator.dark .calculator--buttons-part .item,
.calculator.dark .screen--operations__action input {
  color: white;
}
.calculator.dark .calculator--buttons-part .item,
.calculator.dark .button-part--group__function-keys,
.calculator.dark .button-part--basic-operations {
  background-color: rgba(0, 54, 97, 1);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
}
.calculator.dark .button-part--basic-operations #equal {
  background-color: rgb(2, 42, 75);
}
.calculator.dark .history-box,
.calculator.dark .history-box #first-eva:before,
.calculator.dark .history-box #second-eva:before,
.calculator.dark .history-box #third-eva:before {
  background-color: rgb(3, 9, 61);
  border-left: 2px solid rgb(3, 9, 61);
}
.calculator.dark .history-box h3 {
  color: cyan;
}
.calculator.dark .history-box label {
  color: deeppink;
}
.calculator.dark .history-box .input {
  color: lightcoral;
}
.history-box {
  background-color: paleturquoise;
  width: 30vh;
  height: 33vh;
  position: absolute;
  top: 10%;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0.7rem;
  display: none;
  overflow: hidden;
}
.history-box.active {
  display: block;
  transition: 1s ease-in-out;
}
.history-box h3 {
  margin: 0.5rem 3rem 0.5rem 3rem;
  color: rgb(2, 42, 75);
}
.history-box label {
  color: purple;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  font-weight: 700;
}
.history-box .input {
  position: relative;
  width: auto;
  font-size: 0.7rem;
  font-weight: 700;
  outline: none;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: slateblue;
}
.history-box #first-eva:before,
.history-box #second-eva:before,
.history-box #third-eva:before {
  content: "";
  position: absolute;
  top: 0;
  left: 3%;
  height: 100%;
  width: 100%;
  background-color: paleturquoise;
  border-left: 2px solid paleturquoise;
  animation: animate 5s steps(25) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
